
<div class="well">
	A training application developed by Kevin Pennarun using :
	<ul class="unstyled">
		<li> Servers : 
			<ul>
				<li><a href="http://jetty.codehaus.org" >Jetty</a></li>
				<li><a href="http://lucene.apache.org/solr/">Apache Solr</a></li>
			</ul>
		</li>
		<li> Spring : 
			<ul>
				<li><a href="http://www.springsource.org/">Spring MVC</a></li>
				<li><a href="https://github.com/SpringSource/spring-data-mongodb/">Spring Data MongoDB</a></li>
				<li><a href="https://github.com/SpringSource/spring-data-solr/">Spring Data Solr</a></li>
			</ul>
		</li>
		<li>View : 
			<ul>
				<li><a href="http://backbonejs.org" >Backbone.js</a></li>
				<li><a href="http://www.thymeleaf.org/" >Thymeleaf</a></li>
				<li><a href="http://twitter.github.com/bootstrap/" >Twitter Bootstrap</a></li>
			</ul>
		</li>
		<li>Others : 
			<ul>
				<li><a href="https://github.com/Atmosphere/atmosphere" >Atmosphere</a></li>
			</ul>
		</li>
	</ul>
</div>
