
<div class="well">
	A training application developed by Kevin Pennarun using :
	<ul>
		<li><a href="http://jetty.codehaus.org" >Jetty</a></li>
		<li><a href="http://www.springsource.org/">Spring MVC</a></li>
		<li><a href="http://www.springsource.org/">Spring-data-mongodb</a></li>
		<li><a href="http://backbonejs.org" >Backbone.js</a></li>
		<li><a href="http://www.thymeleaf.org/" >Thymeleaf</a></li>
		<li><a href="http://twitter.github.com/bootstrap/" >Twitter Bootstrap</a></li>
	</ul>
</div>
