	<% _.each(elements, function(element ,key, list){ %>
	
	<h2>The actual vote leader is :</h2>
	<div class="well">
	
	    <h3><%= element.name %></h3>
	    <div class="row-fluid show-grid">
	    	<span class="span4">
		    	<img class="elementPicture" src="<%= element.imgUrl %>" alt="Picture" />
	    	</span>
	    	<span class="span4">
		    	 <%= element.description %><br>
		    	 Score : <span class="badge <%= element.score>0? 'badge-success' : 'badge-important' %>"><%= element.score %></span><br>
		    	 Played : <span class="badge"><%= element.played %></span>
	    	 </span>
	     </div>
	</div>
	<% }) %>
