<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title th:text="#{resources.element.facemash}">FaceMash</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="author" content="kepennar" />
<link rel="shortcut icon" href="img/favicon.jpg"></link>
<link rel="icon" href="img/favicon.jpg"></link>
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/bootstrap-responsive.min.css" rel="stylesheet"></link>
<link href="css/style.css" rel="stylesheet"></link>
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
</head>

<body>
	<div class="wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#" th:text="#{resources.element.facemash}" >FaceMash</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li id="home" class="active"><a id="home" href="#">Home</a></li>
						<li id="elements"><a id="elements" href="#elements">Vote</a></li>
						<li id="search"><a id="search" href="#search" th:text="#{resources.search.element}">Search</a></li>
						<li id="top"><a id="top" href="#top">Top</a></li>
						<li id="worst"><a id="worst" href="#worst">Worst</a></li>
						<li id="upload"><a id="upload" href="#upload" th:text="#{resources.new.element}" >Add element</a></li>
						<li id="about"><a id="about" href="#about">About</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Menu</li>
						<li id="home" class="active"><a id="home" href="#">Home</a></li>
						<li id="elements"><a id="elements" href="#elements">Vote</a></li>
						<li id="search"><a id="search" href="#search" th:text="#{resources.search.element}">Vote</a></li>
						<li id="top"><a id="top" href="#top">Top</a></li>
						<li id="worst"><a id="worst" href="#worst">Worst</a></li>
						<li class="nav-header" th:text="#{resources.element.management}">Elements management</li>
						<li id="upload"><a id="upload" href="#upload" th:text="#{resources.new.element}">New element</a></li>
						<li class="nav-header">More</li>
						<li id="about"><a id="about" href="#about">About</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">
				<div id="alertDiv"></div>
				<div class="hero-unit quiet" >
					<h1 th:text="#{resources.who.is.best.element}">Who is the best element ???</h1>
					<p th:text="#{resources.vote.for.the.most.element}" >Vote</p>
					<p>
						<a class="btn btn-primary btn-large" id="about" href="#about">
							About </a>
					</p>
				</div>
				<div id="totalVotes" ></div>
				<div id="searchDiv" class="well quiet">
					<fieldset>
						<legend>Search</legend>
				
						<div class="control-group">
							<input type="text" class="span3" name="criteria" id="criteria" placeholder="Search"></input>
						</div>
					</fieldset>
				</div>
				<div id="main" class="well"></div>



				<!-- Placed at the end of the document so the pages load faster -->
				<script data-main="js/main" src="js/libs/require.js"></script>
			</div>
		</div>
		
	</div>
	<footer class="footer"> 
		<div class="container">
			Developed in one night by KePennar 
			<p class="pull-right"><a href="#">Back to top</a></p>
		</div>
	</footer>
	</div>
</body>
</html>